.mi-imagen{
    width: 100px;;
    height: 100px;
}

.bordeTotal{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.centrarElementos {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    flex-direction: column; /* Organiza los elementos en columnas */
  }

  .margenSuperior {
    margin-top: 20px;
  }